*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url(./img/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

#gameScreen {
  width: 1550px;
  height: 900px;
  background: black;
  padding: 0 180px 0;
  position: relative;
  overflow: hidden;
}

.smallScreen {
  width: 13vw;
  height: 10vh;
  background: rgba(150, 150, 150, 0.8);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 20px;
}

#restartButton {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -5%);
  cursor: pointer;
  border: none;
}

.invader {
  background-image: url(img/alien.png);
  background-size: cover;
  margin: 10px;
  width: 94px;
  height: 67px;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.ship {
  background-image: url(img/f22-raptor.png);
  background-size: cover;
  width: 112.5px;
  height: 150px;
  position: absolute;
  bottom: 50px;
  transition: left 0.3s ease-out;
  transform: translateX(-56.25px);
  left: 750px;
}

.missile {
  background-image: url(img/bomb.png);
  background-size: cover;
  transform: rotate(180deg);
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: bottom 0.1s linear;
}

@media only screen and (max-width: 1920px) {
  #gameScreen {
    width: 775px;
    height: 450px;
    padding: 90px;
  }

  .smallScreen {
    width: 8vw;
    height: 6vh;
    font-size: 2rem;
    border-radius: 1.5rem;
  }

  #restartButton {
    font-size: 1.2rem;
  }

  .invader {
    width: 47px;
    height: 33.5px;
    margin: 5px;
    position: absolute;
    left: 0;
  }

  .ship {
    width: 56.25px;
    height: 75px;
    bottom: 25px;
    position: absolute;
    transition: left 0.3s ease-out;
    transform: translateX(-28.125px);
    left: 375px;
  }

  .missile {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
